In [2]:
import numpy as np
import pandas as pd
import datetime as dt

from sodapy import Socrata

In [3]:
client = Socrata("data.lacity.org", None)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [9]:
def get_results(date, client):
    results = client.get('wjz9-h9np',
                        where=f'issue_date=="{date}"',
                        limit=50000)
    results_df = pd.DataFrame.from_records(results)
    return results_df

In [24]:
date = []
count = []
fines = []

i_date = dt.date(2015, 1, 1)
delta = dt.timedelta(days=1)

while i_date < dt.date.today() - delta:
    # print progression
    if i_date.day == 1:
        print(i_date)
        
    results_df = get_results(i_date, client)
    if len(results_df) > 0:
        if 'fine_amount' in results_df.columns:
            fine_total = np.sum(results_df['fine_amount'].fillna(0).astype(float))  
        else:
            fine_total = 0

        date.append(i_date)
        count.append(len(results_df))
        fines.append(fine_total)
    
    i_date += delta
    
df = pd.DataFrame({
    'date' : date,
    'count' : count,
    'fines' : fines
})

2015-01-01
2015-02-01
2015-03-01
2015-04-01
2015-05-01
2015-06-01
2015-07-01
2015-08-01
2015-09-01
2015-10-01
2015-11-01
2015-12-01
2016-01-01
2016-02-01
2016-03-01
2016-04-01
2016-05-01
2016-06-01
2016-07-01
2016-08-01
2016-09-01
2016-10-01
2016-11-01
2016-12-01
2017-01-01
2017-02-01
2017-03-01
2017-04-01
2017-05-01
2017-06-01
2017-07-01
2017-08-01
2017-09-01
2017-10-01
2017-11-01
2017-12-01
2018-01-01
2018-02-01
2018-03-01
2018-04-01
2018-05-01
2018-06-01
2018-07-01
2018-08-01
2018-09-01
2018-10-01
2018-11-01
2018-12-01
2019-01-01
2019-02-01
2019-03-01
2019-04-01
2019-05-01
2019-06-01
2019-07-01
2019-08-01
2019-09-01
2019-10-01
2019-11-01
2019-12-01
2020-01-01
2020-02-01
2020-03-01
2020-04-01
2020-05-01
2020-06-01

In [28]:
df.to_csv('../data/citations_ts.csv', index=False)

In [4]:
date = dt.date(2020, 6, 28)

results = client.get('wjz9-h9np',
                    where=f'issue_date=="{date}"',
                    limit=50000)
results_df = pd.DataFrame.from_records(results)

In [6]:
results_df

,ticket_number,issue_date,issue_time,rp_state_plate,plate_expiry_date,make,body_style,color,location,agency,violation_code,fine_amount,latitude,longitude,agency_desc,color_desc,body_style_desc
0,1113535555,2020-06-28T00:00:00.000,1856,CA,202005,INF,PA,GY,2800 E OBSERVATORY,4,8813A,63,6470141.350488,1867430.382196,HOLLYWOOD,GREY,PASSENGER CAR

In [7]:
np.sum(results_df['fine_amount'].fillna(0).astype(float))

63.0