In [22]:
pwd

"C:\\Users\\BREEZE'S NOTEBOOK\\Desktop\\lucky-parking\\notebooks"

In [1]:
import gmaps


gmaps.configure(api_key='AIzaSyDCl7-ZV5KwWSqJobCKHODOO9KFD_zhKVg') # Fill in with your API key

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [3]:
df=pd.read_csv("C:\Parking_Citations_After_July_1_2015.csv",low_memory=False)
df.head(10)

,Ticket number,Issue Date,Issue time,Meter Id,Marked Time,RP State Plate,VIN,Make,Body Style,Color,Location,Route,Agency,Violation code,Violation Description,Fine amount,Latitude,Longitude
0,4361370075,2019/09/17 12:00:00 AM,817.0,NaN,NaN,LA,NaN,MERC,PA,RD,1324 84TH PL W,00551,55.0,80.69BS,NO PARK/STREET CLEAN,73,6.471017e+06,1.808559e+06
1,4361370064,2019/09/17 12:00:00 AM,811.0,VM48,NaN,CA,NaN,BUIC,PA,GN,1000 85TH ST W,00551,55.0,88.13B+,METER EXP.,63,6.473192e+06,1.808298e+06
2,4361370053,2019/09/17 12:00:00 AM,809.0,NaN,NaN,CA,NaN,TOYT,PA,GY,1000 85TH ST W,00551,55.0,80.69BS,NO PARK/STREET CLEAN,73,6.473192e+06,1.808298e+06
3,4361370042,2019/09/17 12:00:00 AM,805.0,NaN,NaN,CA,NaN,NISS,PA,BK,8021 VERMONT AVE,00551,55.0,80.69BS,NO PARK/STREET CLEAN,73,6.473164e+06,1.810388e+06
4,4361370031,2019/09/17 12:00:00 AM,727.0,NaN,NaN,CA,NaN,HOND,PA,GY,1473 45TH ST W,00551,55.0,22500E,BLOCKING DRIVEWAY,68,6.469917e+06,1.823537e+06
5,4361370016,2019/09/17 12:00:00 AM,611.0,NaN,NaN,CA,NaN,NISS,PA,BL,1507 FLORENCE AVE,00551,55.0,22500F,PARKED ON SIDEWALK,68,9.999900e+04,9.999900e+04
6,4361354034,2019/09/17 12:00:00 AM,1750.0,MD413,NaN,CA,NaN,HOND,PA,GY,1601 EASTLAKE AV,00600,56.0,88.13B+,METER EXP.,63,6.498692e+06,1.846041e+06
7,4361342101,2019/09/17 12:00:00 AM,1452.0,NaN,NaN,CA,NaN,FORD,PU,WT,530 LOS ANGELES ST S,00665,56.0,80.56E4+,RED ZONE,93,6.486540e+06,1.839072e+06
8,4361342090,2019/09/17 12:00:00 AM,1320.0,CB2607,NaN,CA,NaN,VOLK,PA,BL,402 8TH ST E,00665,56.0,88.13B+,METER EXP.,63,6.484173e+06,1.838669e+06
9,4361342086,2019/09/17 12:00:00 AM,1316.0,NaN,NaN,CA,NaN,MERZ,PA,SL,841 MAPLE AVE S,00665,56.0,80.56E4+,RED ZONE,93,6.485386e+06,1.837137e+06

In [4]:
df=df[df['Latitude']!=99999]
df=df[df['Longitude']!=99999]
print(df['Latitude'].min(), df['Latitude'].max())
print(df['Longitude'].min(), df['Longitude'].max())
df.head()

6359739.30402891 6514332.07372465
1715555.176091 1942668.996228

,Ticket number,Issue Date,Issue time,Meter Id,Marked Time,RP State Plate,VIN,Make,Body Style,Color,Location,Route,Agency,Violation code,Violation Description,Fine amount,Latitude,Longitude
0,4361370075,2019/09/17 12:00:00 AM,817.0,NaN,NaN,LA,NaN,MERC,PA,RD,1324 84TH PL W,00551,55.0,80.69BS,NO PARK/STREET CLEAN,73,6.471017e+06,1.808559e+06
1,4361370064,2019/09/17 12:00:00 AM,811.0,VM48,NaN,CA,NaN,BUIC,PA,GN,1000 85TH ST W,00551,55.0,88.13B+,METER EXP.,63,6.473192e+06,1.808298e+06
2,4361370053,2019/09/17 12:00:00 AM,809.0,NaN,NaN,CA,NaN,TOYT,PA,GY,1000 85TH ST W,00551,55.0,80.69BS,NO PARK/STREET CLEAN,73,6.473192e+06,1.808298e+06
3,4361370042,2019/09/17 12:00:00 AM,805.0,NaN,NaN,CA,NaN,NISS,PA,BK,8021 VERMONT AVE,00551,55.0,80.69BS,NO PARK/STREET CLEAN,73,6.473164e+06,1.810388e+06
4,4361370031,2019/09/17 12:00:00 AM,727.0,NaN,NaN,CA,NaN,HOND,PA,GY,1473 45TH ST W,00551,55.0,22500E,BLOCKING DRIVEWAY,68,6.469917e+06,1.823537e+06

In [5]:
import pyproj
from pyproj import Proj, transform

In [6]:

x, y = df["Latitude"].tolist(), df["Longitude"].tolist()
inProj = Proj(init='epsg:2229', preserve_units=True) # make sure unit preserve 
outProj = Proj(init='epsg:4326')
y_1,x_1 = transform(inProj,outProj,x,y)
df["Latitude_1"] = pd.Series(x_1)

df["Longitude_1"] = pd.Series(y_1)
print(x_1, y_1)
df.head(2)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

,Ticket number,Issue Date,Issue time,Meter Id,Marked Time,RP State Plate,VIN,Make,Body Style,Color,Location,Route,Agency,Violation code,Violation Description,Fine amount,Latitude,Longitude,Latitude_1,Longitude_1
0,4361370075,2019/09/17 12:00:00 AM,817.0,NaN,NaN,LA,NaN,MERC,PA,RD,1324 84TH PL W,00551,55.0,80.69BS,NO PARK/STREET CLEAN,73,6.471017e+06,1.808559e+06,33.961646,-118.298938
1,4361370064,2019/09/17 12:00:00 AM,811.0,VM48,NaN,CA,NaN,BUIC,PA,GN,1000 85TH ST W,00551,55.0,88.13B+,METER EXP.,63,6.473192e+06,1.808298e+06,33.960946,-118.291763

In [11]:
df.isnull().sum()

Ticket number                  0
Issue Date                     0
Issue time                  1267
Meter Id                 5473730
Marked Time              7313580
RP State Plate               295
VIN                      7570561
Make                        4050
Body Style                  3760
Color                       1483
Location                       0
Route                      32744
Agency                         7
Violation code                 0
Violation Description        319
Fine amount                 2373
Latitude                       2
Longitude                      2
Latitude_1                787794
Longitude_1               787794
dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7570561 entries, 0 to 8706411
Data columns (total 20 columns):
Ticket number            object
Issue Date               object
Issue time               float64
Meter Id                 object
Marked Time              float64
RP State Plate           object
VIN                      float64
Make                     object
Body Style               object
Color                    object
Location                 object
Route                    object
Agency                   float64
Violation code           object
Violation Description    object
Fine amount              object
Latitude                 float64
Longitude                float64
Latitude_1               float64
Longitude_1              float64
dtypes: float64(8), object(12)
memory usage: 1.2+ GB

In [7]:
df=df[~df['Latitude_1'].isnull()]
df=df[~df['Latitude'].isnull()]
df.isnull().sum()

Ticket number                  0
Issue Date                     0
Issue time                  1142
Meter Id                 4977889
Marked Time              6553799
RP State Plate                94
VIN                      6782765
Make                        3556
Body Style                  3401
Color                       1235
Location                       0
Route                      28760
Agency                         5
Violation code                 0
Violation Description        295
Fine amount                 1750
Latitude                       0
Longitude                      0
Latitude_1                     0
Longitude_1                    0
dtype: int64

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6782765 entries, 0 to 7570560
Data columns (total 20 columns):
Ticket number            object
Issue Date               object
Issue time               float64
Meter Id                 object
Marked Time              float64
RP State Plate           object
VIN                      float64
Make                     object
Body Style               object
Color                    object
Location                 object
Route                    object
Agency                   float64
Violation code           object
Violation Description    object
Fine amount              object
Latitude                 float64
Longitude                float64
Latitude_1               float64
Longitude_1              float64
dtypes: float64(8), object(12)
memory usage: 1.1+ GB

In [32]:
gmaps.configure(api_key='AIzaSyDCl7-ZV5KwWSqJobCKHODOO9KFD_zhKVg')
rdf = df[df["Violation Description"] == "RED ZONE"]
locations = rdf.iloc[:100000][["Latitude_1","Longitude_1"]]
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations))
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
'''gmaps.configure(api_key='AIzaSyDCl7-ZV5KwWSqJobCKHODOO9KFD_zhKVg')
issue_time_morning = (df["Issue time"] > 800) & (df["Issue time"] < 1200)
few_data = df[issue_time_morning][df["Violation Description"] == "RED ZONE"]
locations = few_data.iloc[:10000][["Latitude_1","Longitude_1"]]
fig = gmaps.figure()
layer = gmaps.symbol_layer(locations, fill_color = "red", stroke_color = "red", scale = 1)
fig.add_layer(layer)
fig'''

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

Figure(layout=FigureLayout(height='420px'))

In [17]:
#picked 100000 samples since my computer cannot process more data than that 
gmaps.configure(api_key='AIzaSyDCl7-ZV5KwWSqJobCKHODOO9KFD_zhKVg')
morning_time = (df["Issue time"] > 600) & (df["Issue time"] <= 1200) & (df.iloc[:100000]["Violation Description"] == "RED ZONE")
morning_time_df = df[morning_time][["Latitude_1","Longitude_1"]]

afternoon_time = (df["Issue time"] > 1200) & (df["Issue time"] <= 1800) & (df.iloc[:100000]["Violation Description"] == "RED ZONE")
afternoon_time_df = df[afternoon_time][["Latitude_1","Longitude_1"]]

evening_time = (df["Issue time"] > 1800)  & (df.iloc[:100000]["Violation Description"] == "RED ZONE")
evening_time_df = df[evening_time][["Latitude_1","Longitude_1"]]

fig = gmaps.figure()
morning_layer = gmaps.symbol_layer(morning_time_df, fill_color = "red", stroke_color = "red", scale = 1)
afternoon_layer = gmaps.symbol_layer(afternoon_time_df, fill_color = "green", stroke_color = "green", scale = 1)
evening_layer = gmaps.symbol_layer(evening_time_df, fill_color = "blue", stroke_color = "blue", scale = 1)
fig.add_layer(morning_layer)
fig.add_layer(afternoon_layer)
fig.add_layer(evening_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
gmaps.configure(api_key='AIzaSyDCl7-ZV5KwWSqJobCKHODOO9KFD_zhKVg')
r_df = df[df["Violation Description"] == "RED ZONE"]
morning_time = (r_df["Issue time"] > 100) & (r_df["Issue time"] <= 200)
locations = r_df[morning_time][["Latitude_1","Longitude_1"]]


fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations))
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
gmaps.configure(api_key='AIzaSyDCl7-ZV5KwWSqJobCKHODOO9KFD_zhKVg')
r_df = df[df["Violation Description"] == "RED ZONE"]
t0 = r_df["Issue time"] <= 100
t1 = (r_df["Issue time"] > 600) & (r_df["Issue time"] <= 700)
t2 = (r_df["Issue time"] > 1200) & (r_df["Issue time"] <= 1300)
t3 = (r_df["Issue time"] > 1800) & (r_df["Issue time"] <= 1900)
locations0 = r_df[t0][["Latitude_1","Longitude_1"]]
locations1 = r_df[t1][["Latitude_1","Longitude_1"]]
locations2 = r_df[t2][["Latitude_1","Longitude_1"]]
locations3 = r_df[t3][["Latitude_1","Longitude_1"]]

In [21]:
fig0 = gmaps.figure()
fig0.add_layer(gmaps.heatmap_layer(locations0))
fig0

Figure(layout=FigureLayout(height='420px'))

In [22]:
fig1 = gmaps.figure()
fig1.add_layer(gmaps.heatmap_layer(locations1))
fig1

Figure(layout=FigureLayout(height='420px'))

In [23]:
fig2 = gmaps.figure()
fig2.add_layer(gmaps.heatmap_layer(locations2))
fig2

Figure(layout=FigureLayout(height='420px'))

In [24]:
fig3 = gmaps.figure()
fig3.add_layer(gmaps.heatmap_layer(locations3))
fig3

Figure(layout=FigureLayout(height='420px'))